@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body{
	margin: 0;/* 여백 다 줄여버림 */
	font-family: 'Noto Sans KR', sans-serif;
	color:#222; /* 배경색 */
	line-height: 1.6em; /* 줄간격 */
	background-color: #f4f4f4; /* 배경색 회색 */
	font-weight: 300; /*  */
	/* 정 가운데 배치 */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;  /* 모니터의 높이를 100으로 보는거(?) */

	
}


section{
	
	/* border:1px solid red; */
	width: 800px;
	
}
/* Heading영역 */
.hedding{
/* 	border:1px solid red; */ 
	margin-top: 30px;
}
.hedding h1{
	font-size:30px;
	text-align: center;

	
}
.hedding h1 span{ /* 웹 개발자 라는 부분만 빨강색으로 강조쓰 */
		color: crimson;
	
}
.hedding input[type=text]{ /* 인풋태그들 여러개 해도되는데 이부분만 적용하려면 대괄호쓰!   얘는 검색상자조절용이다*/
	outline: none;
	width:100%;/* 얘를 담고있는 부모(섹션)의 크기만큼 다 채우ㅏ라!  (검색상자) */
	padding: 10px; /* 안쪽여백줘서 검색상자크기 키우기 */
	box-sizing: border-box; /* 검색상자랑 상세설명흰색상자 크기 맞추기  */
	border: none; /* 검색상자 테두리 지우기 */
	border-bottom: 2px solid #ddd;/* 아랫부분에만 줄주기(회색)  그림자준거같이 예쁘다*/
	background: #fff url("../images/search-icon.png") no-repeat center left 5px; /* 이 위치에서 돋보기이미지 가져오기. 나갔다가 이미지로 들어가야한다. norepeat는 반복하지말고 왼쪽에 크기는 5ㅔㅌ */
	background-size: 23px;/* 돋보기 크기조절 */
	padding-left: 35px;/*  왼쪽 돋보기부분만큼 여백 줘서  검색상자오게 해서 오른쪽으로 쪼매 떙기기*/
}

.hedding input[type=text]::placeholder{/*  placeholder는 가상식별자를 뜻함 */
font-style: italic;/* 기울임꼴 */
 transition: 0.5s;  /* 0.5초 뒤에 사라지게하기 */ 
 color: red;
 
}

.hedding input[type=text]:focus::placeholder{/*  placeholder에 포커스 오면 적용할거 */
	opacity: 0;  /* 투명도 0이라는건 안보인다는 이야기?? 문구 사라지게하기 */
	
}

.tab-inner{/* 메뉴, btn, tabs */
/* 	border:1px solid red;  */
	margin-top: 30px;
	
	
} 
.btn{
	list-style: none;
	padding:0;
	margin: 0;
	overflow: hidden;
	margin-left: 10px;
}
.btn li{
	float:left;
	/* border:1px solid red; 
 */	width: 120px;
	text-align: center;
	border-right: 1px solid #ddd; 
	padding:5px; 
	border-top: 2px solid transparent; /* 메뉴에 마우스 올렸을떄 안움직이게(안올라오게) 하기 */
}
.btn li:last-child{
	width: 170px;
	border-right: none;	
}
.btn li:hover, .btn li.active{/* 마우스 올렸을때 색상 변경  + 마우스로 클릭헀을때도!*/ 
	background-color: #fff;
	border-top: 2px solid crimson; 
}
.tabs{
	
}
.tabs div{
	background-color:  #fff; /* 내용있는 부분에 흰색배경주기 */
	padding:20px;
	box-sizing: border-box;
	display: none;
	/* height: 250px; 이거 넣어버리면 나중에 내용 길때 글자가 배경보다 삐져나온다 */
	
}
.tabs div.active{
	display: block;
}
.tabs div h2{ /* 가운데정렬하기 */
	text-align: center;
}
.tabs div img{/* 이미지랑  글자 나란히두기 */
	float:left;
	margin-right: 10px;
}
.tabs div p{/* 한줄씩 깔끔하게 보여지게하기?? */
	overflow: hidden; 
}